body {
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:white;
    background-color: rgb(44, 44, 44);
    margin:auto
    
}

#clockField {
    font-size: 4rem;
    color:red;
}

#inputStyle {
    
    margin:auto;
    width: 40%;
    padding: 1% 0 1% 0;
    border-radius: 15px;
}

#userInput {
    padding:1.5%;
    background-color: rgb(0, 0, 0);
    border-radius: 69px;
    box-shadow: 0 0 5pt 3pt #b91d1d;
/*
    outline-width: 0px;
    color:pink;
    font-family: 'Palette Mosaic', cursive;
    font-size:10rem;
    max-width:25%;
*/
color: #FFF;

  
}

.styling {
    list-style:none
}